<!DOCTYPE html>
<html lang="en">
<h1>Hi, finally that's become OK!!!!!!!!!!!</h1>
<head>
    <meta charset="UTF-8">
    <title>Control Panel </title>
</head>
<body>
This is the first page  {{request.user}}
{% if user.is_authenticated %}
<li>
    Click
    <a href="http://127.0.0.1:8000/teacher">
        here
    </a>
    if you are the teacher
</li>
<li>
    And
    <a href="http://127.0.0.1:8000/student">
        here
    </a>
    if you are an student
</li>
<li>
    you can also add student
    <a href="http://127.0.0.1:8000/add-student">
        here
    </a>
</li>
{% else %}
<p>you are not login</p>
<p>
<a href="/accounts/login/">
    Come here
</a>
to login
</p>
{% endif %}

</body>
</html>